


<form name="login">
<table style="width:100%;">
	<tr>
		<td style="text-align:center; vertical-align:middle;">
			<h1> Rollcall system </h1>

			Username<input type="text" name="userid"/>
		</td>
	</tr>
		<td style="text-align:center; vertical-align:middle;">
			Password<input type="password" name="pswrd"/>
		</td>
	</tr>
	<tr>
		<td style="text-align:center; vertical-align:middle;">
			<input type="button" onclick="check(this.form)" value="Login"/>
			<input type="reset" value="Cancel"/>
		</td>
	</tr>
</table>
</form>
